<div class="hero-image">

<mat-toolbar>
    <img src="assets/logo.png" alt="Logo" height="40" routerLink="/home">
    <span class="example-spacer"></span>
    <button mat-icon-button   class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

<div class="hero-container container-fluid">
   

    <div class="row text-center">
        <h1 class="col-12" >Welcome Aboard!</h1>
        <p class="col-12 ">We're preparing for a thrilling journey. Stay tuned for updates and get ready for takeoff!</p>
    </div>
  </div>
      
</div>