<div class="cbg p-0 m-0">
  <!-- header -->
  <mat-toolbar>
    <img src="assets/logo.png" alt="Logo" height="40" routerLink="/home" />
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <div class="texture row text-center p-0 m-0">
    <!-- Primera Fila con Título -->
        <h2 class="tittle">Rookie Camp 2024</h2>
  </div>
  <!-- Segunda Fila con Dos Columnas (Responsive) -->

<div class="row p-0 m-0">
    <div class="col-12 col-md-6  p-0 m-0">
        <p class="text-center subtittle" style="color: #482809;" >Travel moves</p>
    </div>

    <div class="col-12  col-md-6 p-0 m-0">
        <p class="text-center  subtittle" style="color: #E16E33">26th-29th</p>
        <p class="text-center subtittle" style="color: #482809;">October 2023</p>
        <p class="text-center subtittle" style="color: #E16E33">Cancun, Qroo</p>
    </div>
</div>

<div class="row m-3 d-flex justify-content-center align-items-center">
  <a class="btn  btn-primary p-4 onbtn2 col-lg-7 col-sm-9" type="button" routerLink="/tranport">Transport</a>
</div>

<div class="row m-3  d-flex justify-content-center align-items-center">
  <a class="btn  btn-primary p-4 onbtn col-lg-7  col-sm-9 " type="button" routerLink="/uikendo">Line Up</a>
</div>
<div class="row d-flex justify-content-center align-items-center p-5 m-0">
  <div class="col-3  p-0 m-0">
    <div class="col-12 circle p-0 m-0"></div>
  </div>
  <div class="col-6 p-0 m-0 ">
      <p class="subtittle text-center" style="color: #A6672B; letter-spacing:2px; line-height: 30px;">Knowledge is the key to success</p>
  </div>
</div>

<div class="row circleimg p-0 m-0 ">
</div>
<div class="row texturetravel p-0 m-0 ">
</div>
  <!-- header -->
  <!-- textos -->

  <!-- textos -->
</div>

