// header //
.mat-toolbar {
  background-color: transparent !important;
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar button[mat-icon-button] {
  color:  #E5E5E3;
}
.cbg{
  width: 100%;
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo */
  background-image: url('/assets/c.png'); /* Ruta de tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
}
// header //
.texture{
  height: 55vh;
  width: 100%;
  background-image: url('/assets/texture.png'); /* Ruta de tu imagen de fondo */
  background-size:contain; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
}
.tittle{
  padding-top: 2rem;
  font-size:62px;
  color:#E5E5E3;
  letter-spacing: 10.96px;
  line-height: 70px; /* 120.5% */
  text-align: center;
  font-family: "ministry", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.subtittle{
  font-family: "ministry", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -.03em;
  line-height: .83;
  font-size:28px;
}


.onbtn{
  font-size:22px;
  text-align: center;
  font-weight: 600;
  background-color: #009CCB;
  border: none;
  border-radius: 25px;
}
.onbtn2{
  font-size:22px;
  text-align: center;
  background-color:transparent;
  color: #E5E5E3;
  border: .15rem solid #009CCB;
  border-radius: 25px;
  font-weight: 600;
  padding: 30px;
}
.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #A6672B; /* Puedes cambiar el color del círculo según tus necesidades */
}



.circleimg{
  width: 100%;
  height: 30vh;
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo */
  background-image: url('/assets/circle.png'); /* Ruta de tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
}
.texturetravel{
  height: 55vh;
  background-image: url('/assets/texture2.png');
  background-color: #E5E5E3;
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-position:center; /* Centra la imagen en el fondo */
  background-repeat: repeat;
}
