
<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    

  </mat-drawer> (click)="drawer.toggle()"-->
<div class="imagebg">

<div class="container-fluid text-center pb-5 bgclouds">
  <mat-toolbar>
    <img src="assets/logo.png" alt="Logo" height="40" routerLink="/home">
    <span class="example-spacer"></span>
    <button mat-icon-button   class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
<div class="d-grid gap-2 col-9 mx-auto ">
  <div class="tittlediv">  <p class="playfair tittle pt-3">Rookie Camp 2024</p> </div>

  <div class="infodiv">
    <p class="noto tittle2"> Travel moves </p>
    <p class="noto t3"><span>26th-29th </span> </p>
    <p class="noto t3"> October 2023</p>
    <p class="noto t3"><span> Cancun,Qroo </span></p>
  </div>

<div class="row d-flex btndiv align-items-center">
  <a class="btn  btn-primary p-4 onbtn2 m-1 m-3" type="button" routerLink="/tranport">Transport</a>
  <a class="btn btn-primary p-4 onbtn  m-1 m-3" type="button" routerLink="/uikendo">View Program</a>
</div>
  

</div>

</div>
<div class='container-fluid bgblue pt-5' >
  <mat-card class="tarjeta-degradada d-grid gap-2 col-9 mx-auto">
    <mat-card-content>
      <ul>
        <li>Elemento 1</li>
        <li>Elemento 2</li>
        <li>Elemento 3</li>
      </ul>
      
    </mat-card-content>
  </mat-card>

</div>
</div>
<!-- </mat-drawer-container> -->